@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');

body{
    position: absolute;
    margin: 0;
    padding:0;
    font-family: inter;
    height: 100%;
    width: 100%;
}

.john{
    display: none;
}

#container{
    box-sizing: border-box;
    background-image: url(../images/pattern-curve.svg);
    background-repeat: no-repeat;
    background-position-y: 100%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    padding: 3.2em 5em 6em 5em;
    background-attachment: fixed;
}

.image-box{
    box-sizing: border-box;
    max-width: 53%;
    max-height: 40.07em;
    background-image: url(../images/pattern-bg.svg);
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 3.89em;
    padding-left: 4em;
    padding-right: 5.6em;
}

.image-div{
    width: 32.8em;
    height: 32.8em;
}

.image{
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

.slider-box{
    width: 6.8em;
    display: flex;
    flex-direction: row;
    margin-left: 3.9em;
    margin-top: -1.65em;
    box-shadow: 0 0.5px 40px 10px hsl(240, 18%, 77%);
    border-radius: 50% 50% 50% 50%;
}

.slider{
   width: 50%;
   height: 4em;
   z-index: 1;
   border: none;
   background-color: white;
   cursor: pointer;
   outline: none;
}
.slider:active{
    background-color: hsl(240, 18%, 77%);
}
.prev{
    border-radius: 50% 0 0 50%;
    background-image: url(../images/icon-prev.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.next{
    border-radius: 0 50% 50% 0;
    background-image: url(../images/icon-next.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.text-box{
    position: relative;
    box-sizing: border-box;
    max-height: 40.07em;
    width: 47%;
    padding-top: 9.5em;
    z-index: 1;
}

.quote-box{
    box-sizing: border-box;
    color: hsl(240, 38%, 20%);
    background-image: url(../images/pattern-quotes.svg);
    background-repeat: no-repeat;
    background-position-x: 5.6em;
    max-height: 17em;
    width: 40em;
    margin-left: 8em;
    padding-top: 2.2em;
}

.quote{
    line-height: 1.4em;
    font-size: 1.89em;
    font-weight: 300;
}

.dev-info{
    margin-left: 8em;
    margin-top: 1.4em;
    display: flex;
    flex-direction: row;
}

.dev-name{
    margin-right: 0.5em;
    font-weight: 700;
    font-size: 1.18em;
}
.role{
    color: hsl(240, 18%, 77%);
    font-size: 1.18em;
    font-weight: 500;
}

@media (max-width: 1024px){
    #container{
        padding-top: 4.5em;
        padding-left: 2em;
        padding-right: 2em;
    }

    .quote-box{
        margin-left: 3.1em;
        width: 32em
    }
    .text-box{
        padding-top: 6em;
    }
    .quote{
        font-size: 1.6em;
    }
    .dev-info{
        margin-left: 3.1em;
    }
    .dev-name, .role{
        font-size: 1em;
    }
    
    .image-box{
        padding-top: 2.8em;
    }
    .image-div{
        width: 24em;
        height: 25em;
    }
}

@media (max-width:768px){
    #container{
        padding-top: 3em;
        padding-left: 6em;
        padding-right: 6em;
        flex-direction: column;
        background-size: 68%;
    }

    .quote-box{
        margin: auto;
        padding-top: 1em;
        background-position-x: 50%;
        background-position-y: 17%;
        background-size: 4.3em;
    }
    .text-box{
        padding-top: 0em;
        width: 100%;
        max-height: 45%;
    }
    .quote{
        font-size: 1.4em;
        text-align: center;
    }
    .dev-info{
        margin: auto;
        width: 32em;
        justify-content: center;
    }
    
    .image-box{
        padding-top: 1.5em;
        max-width: 100%;
        max-height: 55%;
        background-position-x: 50%;
        padding-left: 0;
        padding-right: 0;
    }
    .image-div{
        width: 16em;
        height: 16em;
        margin: auto;
    }

    .slider-box{
        margin: -1.2em auto 0em auto;
        width: 5em;
    }
    .slider{
        height: 2.8em;
    }
    .prev{
        background-size: 0.7em;
    }
    .next{
        background-size: 0.75em;
    }
}

@media (max-width: 425px){
    #container{
        padding: 1.7em 3em 1em 3em;
        background-size: 77%;
    }
    
.image-box{
    height: 48%;
    background-size: 100% 100%;
    padding-top: 1.89em;
}
.image-div{
    width: 15.5em;
    height: 16.3em;
}

    .quote-box, .dev-info{
        width: 100%;
    }
    .quote-box{
        background-position-y: 0;
    }
    .text-box{
        margin-top:2em;
    }
    .quote{
        font-size: 1.09em;
    }

    .dev-info{
        flex-direction: column;
    }
    .dev-name, .role{
        width : 100%;
        text-align: center;
        font-size: 0.9em;
    }
    .role{
        margin-top: -0.8em;
    }
}

@media (max-width: 375px){
    #container{
        padding: 1.7em 1.8em 1em 1.8em;
    }
}
